<h2>Por Pais</h2>
<hr>

<div class="row">
    <div class="col">
        <form action="" autocomplete="off" (ngSubmit)="buscar()">
            <input type="text" name="termino" [(ngModel)]="termino" placeholder="Buscar por pais..." class="form-control">
        </form>
    </div>
</div>

<hr>

<div *ngIf="hayError"
class="alert alert-danger">
    NO SE ENCONTRO EL PAIS  {{termino}}
</div>

<div *ngIf="pais.length > 0" class="row">
    <div class="col">
       <app-pais-table [pais]="pais"></app-pais-table>
    </div>
</div>

<div class="invacion-div" *ngIf="pais.length">
    <app-pais-table [pais]="pais"></app-pais-table>
</div>