<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input
         (onEnter)="buscar($event)"
         (onDebounce)="buscar($event)"
         placeholder="Busqueda por Capital"
         ></app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="hayError"
class="alert alert-danger">
   <p> NO SE ENCONTRO EL PAIS  {{termino}}</p>
</div>

<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="capital.length > 0" class="row">
    <div class="col">

       <app-pais-table [pais]="capital"></app-pais-table>
    </div>
</div>


