<h2>Por Regi&oacute;n</h2>
<hr>

<div class="row">
    <div class="col text-center">
        <button  
        class="btn  mx-2" (click)="buscar(region)"
        [ngClass]="{'btn-outline-primary': selectedRegion === region}" *ngFor="let region of regiones">
            {{region}}
        </button>
    </div>
</div>

<hr>

<div *ngIf="hayError"
class="alert alert-danger">
    NO SE ENCONTRO EL PAIS  {{termino}}
</div>

<div *ngIf="region.length > 0" class="row">
    <div class="col">
       <app-pais-table [pais]="region"></app-pais-table>
    </div>
</div>

